.left{    
    margin: 0;
    padding: 0;
    border: 2px solid black;
    height: 30%;
    width: 100%;
    position: absolute;
    color: aliceblue;
    top: 5%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;

}


.imgCont{
   
    border: 2px solid rgb(253, 114, 137);
    background-color: rgb(253, 114, 137);
    height: 100%;
    width: 15%;
}


.imgCont img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.nameFriends{
    border: 2px solid rgb(253, 114, 137);
    height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameFriends span{
    color: goldenrod;
    font-weight:bold;
    font-size: 1rem;
}

.nameFriends button{
    border: none;
    color: white;
    font-weight: bolder;
    border-radius: 6px;
    width: 100%;
    height: 30%;
    background-color: rgb(253, 114, 137);
}

.nameFriends button:hover{
    cursor: pointer;
    background-color:  rgb(174, 174, 245);
}